<script
  src="https://unpkg.com/@grafana/faro-web-sdk@2.10.0/dist/bundle/faro-web-sdk.iife.js"
  integrity="sha384-PvMC/A/RHFmcio8/Hymu3UVdvFARdqNMtCqQ7zxsldvW/vnikNCescetATS/wAeC"
  crossorigin="anonymous"
  defer
></script>
<script
  src="https://unpkg.com/@grafana/faro-web-tracing@2.10.0/dist/bundle/faro-web-tracing.iife.js"
  integrity="sha384-K28KBbO7wd+Ik1Kwa9+ogBOjPCytYw0yzJoXfs0LOsui+ZIpGL0TRDVZyz7L4mTL"
  crossorigin="anonymous"
  defer
></script>
<script src="{{ '/assets/faro.js' | relative_url }}" defer></script>
