<section class="section" id="find-me">
    {% for button in site.data.links.buttons %}
    {% if button.type == 'list' %}
    <h2 class="section-title">
        <span class="iconify-inline" data-icon="mdi:link-variant"></span>
        {{ button.category }}
    </h2>
    <div class="link-grid">
        {% for item in button.items %}
        <a class="link-card" href="{{ item.url }}" target="_blank">
            <span class="iconify-inline link-card-icon" data-icon="{{ item.icon }}"></span>
            <span class="link-card-title">{{ item.title }}</span>
            <span class="iconify-inline link-card-arrow" data-icon="mdi:arrow-top-right"></span>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</section>
